* {
    margin: 0;
    /* supprimer des margines */
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    /* définit la capacité d'un élément flexible à modifier ses dimensions afin de remplir l'espace disponible de son conteneur.*/
    justify-content: space-evenly;
    /* Les éléments sont répartis équitablement Tous les éléments sont séparés par le même  espace */
    align-items: center;
}

.time-select,
.sound-picker,
.player-container {
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player-container {
    position: relative;
    /*définit la façon dont un élément est positionné dans un document. */
}

.player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate( -90deg);
    pointer-events: none;
    /* permet aux auteurs de contrôler les circonstances dans lesquelles un élément graphique peut être une cible*/
}

.time-display {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 50px;
}

video {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -1;
    /* Lorsque des éléments se chevauchent, le z-order détermine l'ordre des différentes couches que formeront les éléments.*/
}

.time-select button,
.sound-picker button {
    color: white;
    width: 30%;
    height: 10%;
    background: none;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.time-select button:hover {
    color: black;
    background: white;
}

.sound-picker button {
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 30px;
}

.sound-picker button:nth-child(1) {
    /* un sélecteur utilisant cette pseudo-classe permettra de cibler les éléments fils d'un élément */
    background: #4972a1;
}

.sound-picker button:nth-child(2) {
    background: #a14f49;
}

.sound-picker button img {
    height: 100%;
}